
html,
body {
    background: rgb(87,99,152);
background: linear-gradient(180deg, rgba(87,99,152,1) 17%, rgba(122,135,193,1) 80%);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main, footer {
    margin-left: 350px;
}

main {
    border: 5px solid forestgreen;
    height: 93%;
}

.sidenav {
    width: 350px;
    background-color: #333b69;
}

.sidenav-wrapper {
    margin: 30px 20px;
}

.sidenav-wrapper form>.input-field {
    margin-top: 50px;
} 

/* footer {
    flex: 1 0 auto;
} */ 




.red {
    background-color: red;
}

.green {
    background-color: green;
}








/* 
background light #576398
background dark #333b69 
*/






/* html {
    background: blue;
    color: red
}

ul.dropdown-content.select-dropdown li span {
    color: red; 
    background-color: blue;
}

.select-wrapper input.select-dropdown {
    color: red
} */



